<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="max-w-xl modal-content container-md">
    <div class="box">
      <div class="heading">
        <h1 class="text-xl font-bold text-black-500">Create player</h1>
      </div>
      <div class="column">
        <form method="post" class="flex flex-col gap-10">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Name</label>
            <div class="mt-1">
              <input name="name" type="text" placeholder="e.g USA" required
                class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
          </div>
          <!-- ----- -->
          <div>
            <label class="text-base font-medium text-gray-900">Captain</label>

            <div class="mt-2 space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
              <div class="flex items-center">
                <input id="email" name="isCaptain" type="radio" value="true" checked
                  class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" />
                <label for="email" class="block ml-3 text-sm font-medium text-gray-700">yes</label>
              </div>

              <div class="flex items-center">
                <input id="sms" name="isCaptain" type="radio" value="false"
                  class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" />
                <label for="sms" class="block ml-3 text-sm font-medium text-gray-700">No</label>
              </div>
            </div>
          </div>

          <div>
            <label for="club" class="block text-sm font-medium text-gray-700">Club</label>
            <select name="club"
              class="block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              <% clubs.forEach(club=> { %>
                <option value="<%= club.name %>">
                  <%= club.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div>
            <label for="position" class="block text-sm font-medium text-gray-700">Position</label>
            <select name="position"
              class="block w-full py-2 pl-3 pr-10 mt-1 text-base border-gray-300 rounded-md focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              <% positions.forEach(position=> { %>
                <option value="<%= position.name %>">
                  <%= position.name %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="flex flex-col w-full align-start text-start">
            <label for="nations" class="block text-sm font-medium text-gray-700">Nation</label>
            <select id="nations" name="nations" required
              class="block w-full py-2 pl-3 pr-10 mt-1 text-base border border-gray-300 rounded-md focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
              <% nations.forEach((nation,i)=> { %>
                <option value="<%= nation._id%>">
                  <%= nation.name%>
                </option>
                <% }); %>
            </select>
          </div>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Goals</label>
            <div class="mt-1">
              <input name="goals" type="number" placeholder="e.g. 100" required
                class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Image</label>
            <div class="mt-1">
              <input name="image" type="text" placeholder="URL of image" required
                class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>
          </div>

          <div class="flex justify-end">
            <button type="submit"
              class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-white bg-indigo-600 border border-transparent rounded-md shadow-sm control hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>