<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./import.ejs') %>
    <!--  -->
    <title>
      <%= title %>
    </title>
</head>

<body class="flex flex-col min-h-screen justify-evenly">
  <%- include('./header.ejs') %>
    <div class="container">
      <% if(isAuth && isAdmin) { %>
        <div class="column">
          <h1 class="text-xl font-bold text-black-500">Edit Nation</h1>
          <form method="post" style="flex-direction: column; gap: 30px; margin-top: 30px" class="flex max-w-xl gap-10">
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Name</label>
              <div class="mt-1">
                <input name="name" value=" <%=nation.name%>" type="text" placeholder="e.g USA" required
                  class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
              </div>
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Description</label>
              <div class="mt-1">
                <input name="description" value=" <%=nation.description%>" type="text" placeholder="Des" required
                  class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
              </div>
            </div>
            <div class="flex justify-end gap-5">
              <a href="/nations"
                class="items-center max-w-xs px-3 py-2 text-sm font-medium leading-4 text-white bg-red-600 border border-transparent rounded-md shadow-sm control hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Cancel
              </a>
              <button type="submit"
                class="items-center max-w-xs px-3 py-2 text-sm font-medium leading-4 text-white bg-indigo-600 border border-transparent rounded-md shadow-sm control hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Update
              </button>
            </div>
          </form>
        </div>
        <% } else { %>
          <div class="flex flex-col">
            <div class="relative mt-5 group">
              <h3 class="mt-4 text-xl text-gray-700">
                <label class="mt-1 text-sm font-bold">Name:</label>
                <a href="/nations/<%=nation.id%>">
                  <span class="absolute inset-0"></span>
                  <%=nation.name %>
                </a>
              </h3>
              <div class="flex items-center gap-2">
                <label class="mt-1 text-sm font-bold">Description:</label>
                <p class="mt-1 text-sm text-gray-500">
                  <%= nation.description %>
                </p>
              </div>
            </div>
            <%}%>
          </div>
    </div>
    <!-- --------------------------- -->
    <%- include('./footer.ejs') %>
</body>

</html>